 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="cars"] {
      width: 100%;
      
    }
  }

  .carousel.item img{
	min-height: 320px;
	max-width: 100%;
    height: auto !important;
    background-size: cover;
    min-height: 320px;
}
  
.cars{
 height: 100%;
}